@inject ILocalStorage Store

<div class="d-flex justify-content-center mt-4">
    <NavLink class="text-secondary mr-1" href="@($"/posts/{newerLabel}")"
        title="@newerTitle" Match="NavLinkMatch.All">
        <span class="oi oi-chevron-left"></span>
    </NavLink>
    <NavLink class="text-secondary ml-1" href="@($"/posts/{olderLabel}")"
        title="@olderTitle" Match="NavLinkMatch.All">
        <span class="oi oi-chevron-right"></span>
    </NavLink>
</div>

@code {
    [Parameter]
    public int CurrentPostIndex { get; set; }
    private string newerLabel;
    private string newerTitle;
    private string olderLabel;
    private string olderTitle;

    protected override async Task OnParametersSetAsync()
    {
        newerLabel = "";
        newerTitle = "More Posts";
        olderLabel = "";
        olderTitle = "More Posts";

        var newerPostInfo = await Store.GetPostInfoByIndexAsync(CurrentPostIndex - 1);
        var olderPostInfo = await Store.GetPostInfoByIndexAsync(CurrentPostIndex + 1);

        if(newerPostInfo != null)
        {
            newerLabel = newerPostInfo.Label;
            newerTitle = newerPostInfo.Title;
        }

        if(olderPostInfo != null)
        {
            olderLabel = olderPostInfo.Label;
            olderTitle = olderPostInfo.Title;
        }
    }
}