@inject HttpClient Http
@inject ILocalStorage Store

@if(displayPostInfos == null || displayPostInfos.Count() == 0)
{
    <div>No posts.</div>
}
else
{
    <div class="row">
        @foreach (var postInfo in displayPostInfos)
        {
        <div class="col-sm-6 col-md-4 mb-4">
            <PostCard Info="@postInfo"></PostCard>
        </div>
        }
    </div>
}

@code {
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public string Tag { get; set; }
    private IEnumerable<PostInfo> postInfos;
    private IEnumerable<PostInfo> displayPostInfos;

    protected override async Task OnInitializedAsync()
    {
        postInfos = await Store.GetPostInfosAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        IEnumerable<PostInfo> infos;

        // TODO: Implement paging
        if(!string.IsNullOrEmpty(Tag))
        {
            infos = postInfos.Where(p => p.Tags.Contains(Tag));
        }
        else
        {
            infos = postInfos;
        }

        displayPostInfos = await Task.FromResult(infos);
    }
}