<h1>@Info.Title</h1>
<h6>@Info.Date.ToString("M/dd/yyyy h:mm tt")</h6>
<p><TagLinks Tags="@Info.Tags"></TagLinks></p>
<p>@Info.Blurb</p>
<hr />

@code {
    [Parameter]
    public PostInfo Info { get; set; }
}