@using Microsoft.Extensions.Logging
@inject ILocalStorage Store
@inject ILogger<PostNavs> Logger

<div class="d-flex justify-content-center mt-4">
    <NavLink class="text-secondary mr-1" href="@($"/posts/{leftLabel}")"
        title="@leftTitle" Match="NavLinkMatch.All">
        « @leftTitle
    </NavLink>
    <span> | </span>
    <NavLink class="text-secondary mr-1 ml-1" href="posts">Posts</NavLink>
    <span> | </span>
    <NavLink class="text-secondary ml-1" href="@($"/posts/{rightLabel}")"
        title="@rightTitle" Match="NavLinkMatch.All">
        @rightTitle »
    </NavLink>
</div>

@code {
    [Parameter]
    public int CurrentPostIndex { get; set; }
    private string leftLabel;
    private string leftTitle;
    private string rightLabel;
    private string rightTitle;

    protected override async Task OnParametersSetAsync()
    {
        Logger.LogDebug($"CurrentPostIndex {CurrentPostIndex}");

        var leftPostInfo = await Store.GetPostInfoByIndexAsync(CurrentPostIndex - 1);
        var rightPostInfo = await Store.GetPostInfoByIndexAsync(CurrentPostIndex + 1);

        if (leftPostInfo == null)
        {
            leftLabel = "";
            leftTitle = "More Posts";
        }
        else
        {
            leftLabel = leftPostInfo.Label;
            leftTitle = leftPostInfo.Title;
        }

        if (rightPostInfo == null)
        {
            rightLabel = "";
            rightTitle = "More Posts";
        }
        else
        {
            rightLabel = rightPostInfo.Label;
            rightTitle = rightPostInfo.Title;
        }
    }
}