@using System.Linq
@inject ILocalStorage Store
@inject NavigationManager NavigationManager

<div class="main-content">
    <h2 class="mb-4"><span class="badge badge-secondary">@Title</span></h2>
    <PostList Tag="@Title"></PostList>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    private TagInfo tagInfo;

    protected override async Task OnParametersSetAsync()
    {
        if(string.IsNullOrEmpty(Title))
        {
            NavigationManager.NavigateTo("/tags");
        }
        
        tagInfo = (await Store.GetTagInfosAsync()).FirstOrDefault(t => t.Title == Title);
    }
}