<div class="col mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title"><NavLink href="@($"/tag/{Info.Title}")" title="@(Info.Title)">@Info.Title</NavLink></h5>
            <p class="card-text">@Info.About</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TagInfo Info { get; set; }
}