@page "/"

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello, Blazog!</h1>
    <p class="lead">A static blog running in Blazor with pages pulled from GitHub.</p>
  </div>
</div>
<PostList Page="1"></PostList>