@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject ILocalStorage Store

@page "/"

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Hello, @Configuration["Title"]!</h1>
    <p class="lead">A static blog running in Blazor</p>
  </div>
</div>
<PostList Page="1"></PostList>
