@page "/posts"
@page "/posts/{page:int}"
@page "/posts/{label}"

@if(string.IsNullOrEmpty(Label))
{
    <h1>Posts</h1>
    <hr />

    <PostList Page="@Page"></PostList>
}
else
{
    <Post Label="@Label"></Post>
}

@code {
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public string Label { get; set; }
}