@page "/posts"
@page "/posts/{label}"

@if(string.IsNullOrEmpty(Label))
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Posts</h1>
        </div>
    </div>
    <PostList Page="@Page"></PostList>
}
else
{
    <Post Label="@Label"></Post>
}

@code {
    [Parameter]
    public string Label { get; set; }
    public int Page { get; set; }
}