@page "/posts"
@page "/posts/{page:int}"
@page "/posts/{label}"

@if(string.IsNullOrEmpty(Label))
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Posts</h1>
        </div>
    </div>

    <div class="main-content">
        <PostList Page="@Page"></PostList>
    </div>
}
else
{
    <Post Label="@Label"></Post>
}

@code {
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public string Label { get; set; }
}