@using System.Linq
@inject IPostService PostService

@page "/tag/{title}";

<h1>@tagInfo.Title</h1>

@if(postInfos.Count() == 0)
{
    <div>No posts.</div>
}

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var postInfo in postInfos)
    {
        <PostCard Info="@postInfo"></PostCard>    
    }
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    private TagInfo tagInfo;
    private IEnumerable<PostInfo> postInfos;

    protected override async Task OnParametersSetAsync()
    {
        // TODO: Get all this in one call, also include paging
        var tagInfos = await PostService.GetTagsAsync();
        tagInfo = tagInfos.FirstOrDefault(t => t.Title == Title);

        postInfos = await PostService.GetTagAsync(Title);
    }
}