@page "/tags"
@page "/tags/{title}"

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Tags</h1>
    </div>
</div>

@if(string.IsNullOrEmpty(Title))
{
    <TagList></TagList>
}
else
{
    <Tag Title="@Title"></Tag>
}

@code {
    [Parameter]
    public string Title { get; set; }
}