@page "/tags"
@page "/tags/{title}"

<h1>Tags</h1>
<hr />

@if(string.IsNullOrEmpty(Title))
{
    <TagList></TagList>
}
else
{
    <Tag Title="@Title"></Tag>
}

@code {
    [Parameter]
    public string Title { get; set; }
}