@page "/tags"
@page "/tags/{title}"

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Tags</h1>
    </div>
</div>

@if(string.IsNullOrEmpty(Title))
{

    <div class="main-content">
        <TagList></TagList>
    </div>
}
else
{
    <Tag Title="@Title"></Tag>
}

@code {
    [Parameter]
    public string Title { get; set; }
}