@inject IPostService PostService

@page "/tags"

<h1>Tags</h1>

@if(tagInfos.Count() == 0)
{
    <div>No tags.</div>
}

@foreach (var tagInfo in tagInfos)
{
    <TagCard Info="@tagInfo"></TagCard>
}

@code {
    private IEnumerable<TagInfo> tagInfos;

    protected async override Task OnInitializedAsync()
    {
       tagInfos = await PostService.GetTagsAsync();
    }
}